:root {
  color-scheme: light dark;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface)
}

body {
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  accent-color: var(--md-sys-color-primary);
  box-sizing: border-box;
}
